<% var showPosts = showTag ? site.posts.filter(post => post.tags.map(t => t.name).indexOf(showTag) > -1) : site.posts %>

<section class="menu">
  <header class="header">
    <h1 class="title">
      <%= showTag || 'All articles' %>
      <span class="number"><%= showPosts.length %></span>
    </h1>
  </header>
  <section class="list">
    <% showPosts.each(post => { %>
      <article class="item <%= post.path === showPost.path ? 'current': '' %>">
        <a href="/<%=post.path%>">
          <p class="item-info"><%=post.date.format('YYYY-MM-DD HH:mm')%></p>
          <p class="item-title"><%=post.title%></p>
        </a>
      </article>
    <% }) %>
  </section>
</section>