<nav class="nav from-<%= from%>">
  <div class="bg"></div>
  <a class="nav-title" href="/">
    <%= config.title %>
  </a>
  <ul class="nav-links">
    <li>
      <a class="nav-link bold" href="/archives/">
        All articles
        <span class="nav-link-number"><%= site.posts.length %></span>
      </a>
    </li>
    <% site.tags.each(tag => { %>
      <li>
        <a class="nav-link" href="/tags/<%= tag.name %>/">
          <%= tag.name %>
          <span class="nav-link-number">
            <%= site.posts.filter(post => post.tags.map(tag => tag.name).indexOf(tag.name) > -1).length %>
          </span>
        </a>
      </li>
    <% }) %>
  </ul>
  <a class="leave-btn" href="http://hong-yu.wang">ABOUT ME</a>
</nav>

<nav class="nav-mobile">
  <div class="top-bar">
    <a class="logo" href="/" ></a>
    <ul class="btns">
      <li class="btn" data-type="tag">
        <p class="text">ARTICLES</p>
        <p class="icon icon-book"></p>
      </li>
    </ul>
  </div>
  <div class="list tag-list">
    <div></div>
    <div class="list-main">
      <ul>
        <li>
          <a class="link" href="/archives/">
            All articles
          </a>
        </li>
        <% site.tags.each(tag => { %>
          <li>
            <a class="link" href="/tags/<%= tag.name %>/">
              <%= tag.name %>
            </a>
          </li>
        <% }) %>
      </ul>
    </div>
  </div>
</nav>